/* шрифт */
@font-face {
    font-family: 'MyFont';
    src: url('shrift/Chicoree\ Em.\ Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pacifico", cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Pacifico", cursive;
}



.navigation .logo-nav .logo-text,
.navigation .nav-menu .nav-link {
    font-family: "Pacifico", cursive;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* цвета */
    --white-color: #fff;
    --pink-color: #cfae7d;
    --blue-color: #cc9568;
    --Xblue-color: #865228;
    --gray-color: #f0c0de;
    --back-color: #f5e6d3;
    --black-color: #000000;
    --light-pink-color: #bd8a61;
    --dark-color: #744017;



    /* размер шрифта */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.3rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;
    --font-size-xxxl: 3.2rem;

    /* выделение шрифта */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-big: 600;
    --font-weight-verybig: 700;

    /* радиус границ */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-krug: 50%;

    /* макс ширина сайта */
    --site-max-width: 1555px;
}

/* Стиль всего сайта */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
section {
    width: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 100px;
    max-width: var(--site-max-width);
}

.section-title, h1, h2, h3, h4, h5, h6 {
    font-family: "Pacifico", cursive;
}

.section-title {
    text-align: center;
    padding: 20px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xxl);
}



.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--Xblue-color);
}

/* Стиль нафигации */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: #a76d3dce;
}

header .navigation {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navigation .logo-text {
    font-family: "Pacifico", cursive !important;
}



.navigation .logo-nav .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-verybig);
}

.navigation .nav-menu {
    display: flex;
    gap: 10px;
}



.navigation .nav-menu .nav-link {
    padding: 13px 7px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.4s ease;
}

.navigation .nav-menu .nav-link:hover {
    color: var(--pink-color);
    background: var(--back-color);
}


.hero-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.hero-top {
    flex: 1.5;
    background: #f5e6d3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
    position: relative;
    overflow: visible;
}
.hero-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 59px;
}
.hero-details {
    text-align: center;
    color: white;
    padding: 80px 0;
    margin-top: -60px;
    background: transparent;
}
.hero-image {
    max-width: 800px;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}
.hero-bottom {
    flex: 1;
    background: #cc9568;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-bottom .section-content {
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 100px;
    width: 100%;
}
.hero-section .hero-details .title {
    font-size: var(--font-size-xxxl);
    color: var(--back-color);
    font-family: "Pacifico", sans-serif;
    margin-bottom: 20px;
}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-big);
    color: var(--back-color);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.hero-section .hero-details .description {
    max-width: 70%;
    margin: 23px auto 40px;
    font-weight: var(--font-weight-big);
    font-size: var(--font-size-l);
    color: var(--back-color);
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--dark-color);
    border-radius: var(--border-radius-m);
    background: var(--back-color);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-m);
    transition: 0.4s ease;
}

.hero-section .hero-details .button:hover {
    color: var(--back-color);
    border-color: var(--back-color);
    background: transparent;
}

/* вкладка о нас стиль */
.about-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('imag/krupnym-planom-ocarovatel-nyi-kotenok-spasii-v-odeale.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
}

.about-section .section-content {
    width: 800px;
    min-height: 600px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: var(--dark-color);
    display: flex;

    align-items: center;
    margin-right: 170px;
    font-size: 20px;
}

.about-section .text {
    font-size: 24px;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: justify;
    max-width: 700px;
    min-height: 100px;
    text-align: center;
}

/* вкладка меня стиль */
.menu-section {
    min-height: 100vh;
    background: var(--light-pink-color);
    padding: 80px 0;
    width: 100%;
    color: var(--dark-color);
}

.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 100px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.menu-section .text {
    font-size: 120px;
    line-height: 1.4;
    text-align: Center;
    max-width: 700px;
}
.menu-section .menu-list .menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}
.menu-section .menu-list .menu-item .menu-image {
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}
.menu-section .menu-list .menu-item .name {
    color: var(--dark-color);
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-normal);
}
.menu-section .menu-list .menu-item .text {
    font-size: var(--font-size-m);
    color: wheat;
}

/* стиль для персонала */
.personal-selection {
    min-height: 100vh;
    background: var(--back-color);
    padding: 80px 0;
    width: 100%;
}

.personal-selection .selection-title {
    color: var(--dark-color);
    padding: 100px 0 70px;
    text-align: center;
    font-size: var(--font-size-xxl);
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 60px;
    max-width: var(--site-max-width);
    margin: 0 auto;
    width: 100%;
}

.sliders {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

.slide {
    flex: 0 0 calc(33.333% - 20px);
    background: #916f3959;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    display: none;
    height: 342px;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide.active {
    display: flex;
    opacity: 1;
}

.slide img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.slide h3 {
    margin: 10px 0;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #af874581;
    border: none;
    padding: 30px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 36;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.slider-button:hover {
    background: var(--blue-color);
}

.slider-button.prev {
    left: 36px;
}

.slider-button.next {
    right: 36px;
}

.slider-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    opacity: 1;
}

/* стиль для галереи */
.gallery-section {
    min-height: 100vh;
    padding: 80px 0;
    width: 100%;
}
.section-title {
    text-align: center;
    padding: 20px 0 20px;
    text-transform: uppercase;
    font-size: var(--font-size-xxl);
}

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery-section .gallery-list .gallery-item {
    width: calc(100% / 3 - 32px);
    border-radius: var(--border-radius-s);
    overflow: hidden;
    position: relative;
}

/* сама картинка */
.gallery-section .gallery-list .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-section .gallery-list .gallery-item:hover .gallery-image {
    transform: scale(1.1);
}

/* стиль для связь с нами */
.contact-section {
    min-height: 100vh;
    background: var(--back-color);
    padding: 180px 0;
    width: 100%;
}

.contact-section .section-content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    max-width: var(--site-max-width);
}

.contact-section .section-title {
    padding: 30px 0 120px;
    color: var(--dark-color);
}

.contact-section .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;

}

.contact-section .cantact-info-list .contact-info p {
    color: var(--dark-color);
    font-size: var(--font-size-m);
}

.contact-section .contact-form .form-input {
    width: 100%;
    height: 50px;
    padding: 0 13px;
    outline: none;
    margin-bottom: 16px;
    background: rgba(218, 184, 145, 0.836);
    border-radius: 20px;
    border: 3px solid rgba(218, 184, 145, 0.836);
}

.contact-section .contact-form {
    max-width: 50%;
}

.contact-section .contact-info-list {
    flex: 1 1 45%;
}

.contact-section .contact-form .form-input:focus {
    border-color: rgba(218, 184, 145, 0.836);
}

.contact-section .contact-form textarea.form-input {
    height: 100px;
    padding: 12px;
    resize: vertical;
}

.contact-section .contact-form .button {
    padding: 10px;
    color: var(--dark-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    background: rgba(212, 161, 102, 0.425);
    border-radius: var(--border-radius-m);
    border: 1px solid rgba(212, 161, 102, 0.692);
    transition: 0.3s ease;
}

.contact-section .contact-form .button:hover {
    color: var(--back-color);
    background: transparent;
}

/* для макс ширины пикселей */
@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    .navigation .nav-menu {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
    }

    .navigation .nav-menu .nav-link {
        color: var(--black-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }
}
.Booking-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5e6d3;

}
.wrapper {
    width: 700px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.25);  
    backdrop-filter: blur(10px); 
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
    color: #333;
    justify-content: center;
    align-items: center;
}
.wrapper h1{
    font-size: 40px;
    text-align: center;
    color:#bd8a61;
}
.wrapper .inputbox{
    width: 100%;
    margin: 30px 0;

}
.inputbox input{
    width: 100%;
    height: 100%;
    padding: 10px 10px;  
    background: transparent;
    border: 1px solid #1f13154d;
    border-radius: 40px;
    font-size: 14px;  
    outline: none;
}
.inputbox input::placeholder{
    color:rgb(37, 9, 9);
}
a.back:hover {
    background:rgba(0, 0, 0, 0.719);
}
.button_booking{
    display: block;
    text-align: center;
    width: 80%;
    padding: 12px;
    margin: 10px auto;
    border: none;
    border-radius: 40px;
    background: #bd8a61;
    color:#744017;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}
